    {{ if .Site.Params.advice }}
    <details>
      <summary style="font-size: 1.2em;">If you are an undergraduate student and want to seek advice from me</summary>
      <div style="font-size: 1.1em;">
        <p>1. If you didn't get my WeChat ID directly from me, please <b>don't</b> add me on WeChat. I will not accept your request! 如果你不是直接从我这里得到我的微信号，而是从我大学的辅导员甚至是高中的老师那里，请不要加我的微信！</p>
        <p>2. If you want to ask me how to get a PhD offer, you can send me an email to zhixiao-zhang at outlook dot com. <b>Don't</b> send your email to my university email address.</p>
        <p>3. Feel free to ask me any questions about your study plan except for the questions about AI, espcially CV. I hate CV and I don't want to talk about it. </p>
      </div>
    </details>
    {{ end }}
